.site_title{
	@include font_brand;
	@include font_size(6);
	margin: 0;
}
.site_subtitle{
	@include font_brand;
	@include font_size(1);
	margin: 0.5rem 0 3rem;
	@include media_q(med){
		margin: -1rem 0 1rem;
	}
}

.home {
	.jumbotron{
		margin-bottom: 4rem;
		hgroup{
			display: inline-block;
		}
		.lead{
			margin-top: 2rem;
		}
		
	}
	.categories{
		display: -webkit-flex;
		display: flex;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
		.category{
			-webkit-flex-grow: 1;
			flex-grow: 1;
			margin-bottom : 3rem;
		}
		@include media_q(sm){
			-ms-flex-direction: row;
			-webkit-flex-direction: row;
			flex-direction: row;
		}
	}
}
